body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.btnTarea{
    background-color: rgb(247, 150, 166);
    color: black;
}

.btnTarea:hover{
    background-color: rgb(228, 60, 88);
    color: whitesmoke;
}

.btnElimiar{
    background-color: fuchsia;
    color: whitesmoke
}

.btnElimiar :hover{
    background-color: whitesmoke;
    color: fuchsia;
}